{% extends 'WorldiaTextmasterBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="pagerfanta">
    {{ pagerfanta(pager) }}
    </div>
{% endblock %}
