<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/Fixtures/Project/app/bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="WorldiaTextmasterBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="/Tests/Fixtures/Project/app/" />
    </php>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Features</directory>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
